<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academia</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <a href="https://mews.sv.cmu.edu/teaching/14736/"
        ><h2>Distributed Systems (14736)</h2></a
      >
      <p>
        Last semester, I took a course on distributed systems, where I learned
        the fundamentals of building reliable and scalable systems. The course
        covered core topics such as Raft, Paxos, remote procedure calls,
        distributed file systems, distributed hash tables, and coordination
        techniques. It emphasized hands on learning through a series of labs,
        all implemented in Go, a language I thoroughly enjoyed working with.
      </p>
      <a href="https://www.cs.cmu.edu/~18213/"
        ><h2>Introduction to Computer Systems (18613)</h2></a
      >
      <p>
        In my Computer Systems class, I delved into a class on low-level
        computer concepts like assembly, cache, memory allocation, and more. It
        was incredibly challenging but also deeply rewarding. I gained insights
        into how things actually work under the hood, moving beyond the
        higher-level programming perspective to understand how code truly runs
        on a machine. The
        <a href="./computer-systems.html">hands-on labs</a>, such as building a
        cache simulator, implementing memory allocation, and creating a tiny
        shell, were particularly engaging and sparked a strong interest in
        coding in C. This experience has inspired me to explore more C projects
        and further develop my skills in low-level programming.
      </p>
      <a href="https://courses.ece.cmu.edu/18656SV"
        ><h2>Functional Programming in Practice (18656)</h2></a
      >
      <p>
        In my Functional Programming class, I gained a solid foundation in
        functional paradigms, learning key concepts such as immutability, pure
        functions, tail recursion, higher-order functions, map-reduce, function
        composition, and pattern matching. Throughout the course, I applied
        these techniques to develop a crypto arbitrage identifier, which
        efficiently analyzed cryptocurrency market discrepancies.
      </p>
      <a href="https://courses.ece.cmu.edu/18652SB"
        ><h2>Foundations of Software Engineering (18652)</h2></a
      >
      <p>
        In the Foundations of Software Engineering class, I learned about
        software engineering techniques end-to-end, covering everything from
        agile methodologies and planning poker to collaborating effectively in a
        team and developing a full-stack application. The course also emphasized
        the importance of software quality, with a focus on practices such as
        unit testing, integration testing, and continuous integration to ensure
        robust and maintainable code throughout the development lifecycle.
      </p>
    </div>
  </body>
</html>
