<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Academia</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div class="links">
        <span><a href="../index.html">home</a> /</span>
        <span><a href="work.html">work</a> /</span>
        <span><a href="thoughts-and-goals.html">thoughts & goals</a> /</span>
        <span><a href="academia.html">academia</a> /</span>
        <span><a href="contact.html">apply</a> /</span>
        <span><a href="../assets/Resume.pdf">resume</a> /</span>
      </div>
    </div>
    <hr />
    <div class="content-section">
      <h2>Upcoming</h2>
      <p>
        I will use this space to discuss the stuff that I study and read about,
        it will not necessarily be college subjects.
      </p>
    </div>
  </body>
</html>
