<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <h2>Upcoming</h2>
      <p>
        Welcome to my little corner of the internet! This is where I'll share my
        thoughts, goals, and whatever else is on my mind. I’ve got a few
        opinions on things happening in the software world—like AI trends, the
        whole debate around DSA for hiring, and whether it’s actually useful.
        I’ll be using this space to pen down my feelings, so expect a mix of
        tech talk, personal insights, and maybe a few rants along the way.
      </p>
    </div>
  </body>
</html>
