<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <h2>Open Positions</h2>
      <div class="apply-section">
        <h3>Friend</h3>
        <div>
          <span><b>Description:</b></span>
          <span>Seeking to connect with people who have similar interests: football (soccer :p), rap, neovim, data structures & algorithms, c programming etc. </span>
        </div>
        <div>
          <span><b>How to apply:</b></span>
          <span>
            Hit me up on <a href = "https://x.com/utkarshbajajj">X</a> (yes, twitter).
          <hr>
      </div>
        <h3>Employer</h3>
        <div>
          <span><b>Description:</b></span>
          <span>Looking for a job.</span>
        </div>
        <div>
          <span><b>How to apply:</b></span>
          <span
            >Connect with me on
            <a href="https://linkedin.com/in/utkarshbajaj">LinkedIn</a>!</span
          >
          <hr>
        </div>
      </div>
      <div class="apply-section">
        <h3>Rival</h3>
        <div>
          <span><b>Description:</b></span>
          <span>Seeking a highly competitive counterpart (maybe for LeetCode/Codeforces contests?) to challenge, push boundaries, and level up together.</span>
        </div>
        <div>
          <span><b>How to apply:</b></span>
          <span>
            Email an application to <a href="mailto:utkarshbajaj@cmu.edu">utkarshbajaj@cmu.edu</a>.</span
          >
          <hr>
      </div>
      <div class="apply-section">
        <h3>Collaborator</h3>
        <div>
          <span><b>Description:</b></span>
          <span>Looking for someone to explore projects and code together on exciting repositories.</span>
        </div>
        <div>
          <span><b>How to apply:</b></span>
          <span>
              Check out my <a href = "https://github.com/utkarshbajaj">GitHub</a> and drop a star or open an issue!
          </span>
          <hr>
      </div>
    </div>
  </body>
</html>
