<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utkarsh Bajaj</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <p style="color: gray"><i>last updated: 23 January 2025</i></p>
      <h2>About Me</h2>
      <p>
        Hi, I'm Utkarsh Bajaj, a software engineer passionate about
        problem-solving and building efficient solutions. I worked at Microsoft
        for two years, where I honed my skills in cloud development before
        deciding to pursue my master's degree in Software Engineering at
        Carnegie Mellon University.
      </p>

      <p>
        At Carnegie Mellon University, I’m embracing the challenges of a
        rigorous academic journey. Courses like Computer Systems and Distributed
        Systems have deepened my understanding of low-level concepts and
        provided a solid foundation in systems-related topics. While studying
        here is demanding, I find it both rewarding and intellectually
        stimulating. I’m also actively pursuing Summer 2025 software engineering
        internships to apply and expand my expertise in real-world settings.
      </p>

      <p>
        Outside of work, I enjoy staying physically active, whether it's hitting
        the gym, running, or playing sports like tennis and football. I also
        used to play the guitar and plan to pick it up again soon—it's something
        I'm excited to revisit! Oh, and
        <i> i use <b>neovim</b> btw :) </i>
      </p>
      <p><a href="contact.html">contact me!</a></p>
    </div>
    <footer>
      <p>
        site inspired from
        <a href="https://ankitsultana.com/researcher/">Ankit Sultana</a> &
        <a href="https://julie-steele.github.io/">Julie Steele</a>
      </p>
    </footer>
  </body>
</html>
