<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utkarsh Bajaj</title>
    <link rel="icon" type="image/webp" href="assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <p style="color: gray"><i>last updated: 19 October 2024</i></p>
      <h2>About Me</h2>
      <p>
        Hi, I'm Utkarsh Bajaj a software engineer with love for problem-solving
        and building efficient solutions. I am currently pursuing my master's
        degree at Carnegie Mellon University and looking forward to further
        honing my skills.
      </p>
      <p>
        Welcome to my website! It's a mix of a personal diary, tracker, and
        public space—let's see where it goes. My aim is to challenge myself and
        share random thoughts, so feel free to reach out if anything resonates
        with you!
      </p>
      <p><a href="views/contact.html">contact me!</a></p>
    </div>
    <footer>
      <p>
        site inspired from
        <a href="https://ankitsultana.com/researcher/">Ankit Sultana</a> &
        <a href="https://julie-steele.github.io/">Julie Steele</a>
      </p>
    </footer>
  </body>
</html>
