<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Utkarsh Bajaj</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div class="links">
        <span><a href="../index.html">home</a> /</span>
        <span><a href="#thoughts">thoughts</a> /</span>
        <span><a href="contact.html">apply</a> /</span>
        <span><a href="https://yellow-melita-62.tiiny.site/">resume</a> /</span>
        <span><a href="#goals">goals & challanges</a> /</span>
        <span><a href="#lists">lists</a> /</span>
      </div>
    </div>
    <hr />
    <div class="content-section"></div>
  </body>
</html>
