<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div id="navbar"></div>
      <script src="../scripts/navbar.js"></script>
    </div>
    <hr />
    <div class="content-section">
      <a href="https://github.com/utkarshbajaj/cf-notification"
        ><h2>Codeforces Rating Updates</h2></a
      >
      <p>
        Developed an application that automates the delivery of Codeforces
        contest rating updates. The project uses Google Firebase to manage user
        data and AWS EC2 to execute Python scripts that handle the updates. I
        built the user interface with HTML, CSS, and JavaScript and hosted it on
        <a href="https://utkarshbajaj.github.io/cf-notification/"
          >GitHub Pages.</a
        >
      </p>
      <p>
        Once a contest's ratings are published, the application sends an email
        notification to users, saving them the hassle of manually checking the
        Codeforces website. This project made it easier for users to stay
        updated on their contest performance.
        <i
          >I'm currently working on releasing this to production so that
          contestants can start using it.</i
        >
      </p>
      <h2><a href="./computer-systems.html"> Systems Development</a></h2>
      <p>
        As part of the
        <a href="https://www.cs.cmu.edu/~18213/index.html">Computer Systems</a>
        course at CMU, I worked on several hands-on labs in the C language,
        including developing a cache simulator, implementing memory allocation,
        creating a tiny shell, and building an HTTP proxy.
      </p>
      <a href="https://github.com/utkarshbajaj/Find-IMDB-Ratings">
        <h2>Find IMDB Ratings</h2></a
      >
      <p>
        Created a Python script during Hacktoberfest 2020 using BeautifulSoup,
        requests, and pandas to scrape the web for movie data and store it in a
        .csv file for easy analysis. The project attracted multiple forks and
        contributions from over 5 individuals on GitHub, turning into a
        collaborative effort. This script made it simple for users to gather and
        analyze movie data in a structured format.
      </p>
      <h2>Emergency Social Network</h2>
      <p>
        As part of my Software Engineering course, I developed an Emergency
        Social Network application using a stack of vanilla JavaScript, HTML,
        and CSS. The application included features such as public and private
        chatting, posting announcements, and navigating to nearby shelters
        displayed on a map. Through this project, I also learned how to
        effectively apply a design pattern in the application code, ensuring a
        structured and organized approach to solving complex problems.
      </p>
      <h2>Portfolio</h2>
      <p>
        This is the current website you're on—just a few static HTML pages
        linked together to showcase my work and thoughts!
      </p>
    </div>
  </body>
</html>
