<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link rel="icon" type="image/webp" href="../assets/darth-vader-512.webp" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="name">
        <h2>Utkarsh Bajaj</h2>
      </div>
      <div class="links">
        <span><a href="../index.html">home</a> /</span>
        <span><a href="work.html">work</a> /</span>
        <span><a href="thoughts-and-goals.html">thoughts & goals</a> /</span>
        <span><a href="academia.html">academia</a> /</span>
        <span><a href="contact.html">apply</a> /</span>
        <span><a href="../assets/Resume.pdf">resume</a> /</span>
      </div>
    </div>
    <hr />
    <div class="content-section">
      <h2>Software Engineer, Microsoft</h2>
      <p>
        As a software engineer at
        <a href="https://learn.microsoft.com/en-us/azure/automation/overview"
          >Azure Automation</a
        >, I worked on migrating PowerShell and Python scripts from a bulky
        VM-based setup to a sleek, containerized microservices architecture
        using .NET and Docker. This migration made things more secure by running
        scripts in isolated Hyper-V containers, improving our success rate from
        99.8% to 99.9% for over 200M executions each month.
      </p>
      <p>
        I built internal APIs and developed custom PowerShell cmdlets and Python
        packages to let customers easily access their Azure assets, like
        credentials and certificates.
      </p>
      <p>
        I also worked on debugging and deploying microservices to support
        communication between containers and servers, which helped us scale to
        new regions. By automating monitoring and deployment scripts, I helped
        cut down on manual work for expanding into additional data centers.
      </p>
      <h2>Software Engineering Intern, Microsoft</h2>
      <p>
        As an intern at
        <a href="https://learn.microsoft.com/en-us/azure/automation/overview"
          >Azure Automation</a
        >
        I developed a C# application, to be executed on containers using .NET
        Core and Docker to add new runtimes of PowerShell 7.2 and Python 3.10,
        designed to be executed on containers. This project involved writing
        over 10,000 lines of code, ensuring quality with 90%+ unit test coverage
        and building in robust failure detection. The new runtimes saw strong
        adoption, with 150+ customers running 10,000+ scripts during the preview
        phase, paving the way for migrating existing Azure Automation runtimes
        to containers.
      </p>
      <a href="https://github.com/utkarshbajaj/cf-notification"
        ><h2>Codeforces Rating Updates</h2></a
      >
      <p>
        Developed an application that automates the delivery of Codeforces
        contest rating updates. The project uses Google Firebase to manage user
        data and AWS EC2 to execute Python scripts that handle the updates. I
        built the user interface with HTML, CSS, and JavaScript and hosted it on
        <a href="https://utkarshbajaj.github.io/cf-notification/"
          >GitHub Pages.</a
        >
      </p>
      <p>
        Once a contest's ratings are published, the application sends an email
        notification to users, saving them the hassle of manually checking the
        Codeforces website. This project made it easier for users to stay
        updated on their contest performance.
        <i
          >I'm currently working on releasing this to production so that
          contestants can start using it.</i
        >
      </p>
      <h2>Cache Simulator</h2>
      <p>
        As part of the
        <a href="https://www.cs.cmu.edu/~18213/index.html">Computer Systems</a>
        course at CMU, I worked on creating a cache simulator from scratch in C.
        The simulator implemented an LRU (Least Recently Used) cache algorithm,
        taking the number of sets, blocks, and associativity (E) as input. It
        then processed a series of load and store instructions, calculating
        hits, misses, dirty bytes, evictions, and dirty bytes evicted. This
        project gave me hands-on experience with cache management and
        performance optimization.
      </p>

      <a href="https://github.com/utkarshbajaj/Find-IMDB-Ratings">
        <h2>Find IMDB Ratings</h2></a
      >
      <p>
        Created a Python script during Hacktoberfest 2020 using BeautifulSoup,
        requests, and pandas to scrape the web for movie data and store it in a
        .csv file for easy analysis. The project attracted multiple forks and
        contributions from over 5 individuals on GitHub, turning into a
        collaborative effort. This script made it simple for users to gather and
        analyze movie data in a structured format.
      </p>
      <h2>Portfolio</h2>
      <p>
        This is the current website you're on—just a few static HTML pages
        linked together to showcase my work and thoughts!
      </p>
    </div>
  </body>
</html>
